.navbar-custom { 
    background-color: rgb(34,38,48); 
} 

body {
			    background-color: rgb(28,28,28);
	
}
.container{
	margin-right:auto;
	margin-left:auto;
	    background-color: rgb(34,38,48); 
		border-radius: 8px;
		padding-top: 10px;
		padding-bottom: 10px;
	
}
.productImg {
	background-color:rgb(35,38,47);
	border-radius: 8px;
}